<configuration>
    <include resource="/org/springframework/boot/logging/logback/base.xml"/>
    <appender name="plainTextAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%green(%date{HH:mm:ss.SSS}) %yellow(%-5level) - %magenta(%c{1}.%M:%L): %m%n%throwable</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="plainTextAppender"/>
    </root>
</configuration>
